### Java ###
*.class
*.log
*.hprof
*.ds_store

### Build & Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

### Maven Wrapper ###
.mvn/
mvnw
mvnw.cmd

### IDE - IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/
*.class
*.jar

### IDE - VS Code ###
.vscode/*
.history/
.settings/

### Java tooling ###
.jenv
.sdkman

### OS / Editor ###
Thumbs.db
.DS_Store

### Environment / Local Run ###
.env
*.local
*.secret
*.tmp
*.bak
*.swp

### Testcontainers / Docker ###
testcontainers.properties
*.pid
docker-compose.override.yml

### Logs ###
logs/
*.log
*.out

### Spring Boot ###
spring.log

### Python (venv just in case) ###
.venv/
__pycache__/
*.pyc
.site/
site/

### Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

### Git
*.orig