* text=auto eol=lf

*.sh text eol=lf
*.java text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.tf text eol=lf
*.tfvars text eol=lf

# Prevent messing binary files
*.png binary
*.jpg binary
*.jar binary
