spring:
  application:
    name: order-service

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8081
  address: 0.0.0.0

management:
  endpoints:
    web:
      exposure:
        include: health
